In [1]:
import numpy as np
import pandas as pd

In [10]:
# 表格函数应用
# 可以通过将函数和适当数量的参数作为管道参数来执行自定义操作。
# 因此，对整个DataFrame执行操作。
# 例如，为DataFrame中的所有元素相加一个值2。 然后，
# 加法器函数
# 加法器函数将两个数值作为参数添加并返回总和。


def adder(ele1,ele2):
    return ele1 + ele2

# 现在将使用自定义函数对DataFrame进行操作。
df=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
df.pipe(adder,2)

       col1      col2      col3
0 -0.752477 -1.907248 -1.021043
1 -0.290498  1.155396 -2.467624
2 -1.553578  0.158605 -1.239208
3  0.124439  1.918635  0.355261
4 -1.320469 -0.021269  0.669347

       col1      col2      col3
0  1.247523  0.092752  0.978957
1  1.709502  3.155396 -0.467624
2  0.446422  2.158605  0.760792
3  2.124439  3.918635  2.355261
4  0.679531  1.978731  2.669347

In [14]:
# 下面来看看完整的程序
def adder(ele1,ele2):
    return ele1+ele2
df=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
df.pipe(adder,2)

       col1      col2      col3
0  0.001923  0.581719  0.084672
1 -0.294147 -0.762654 -0.282585
2 -0.364970 -0.231298  1.204251
3  2.569534  0.832736 -0.868350
4  0.339195 -0.293103 -0.352835

       col1      col2      col3
0  2.001923  2.581719  2.084672
1  1.705853  1.237346  1.717415
2  1.635030  1.768702  3.204251
3  4.569534  2.832736  1.131650
4  2.339195  1.706897  1.647165

In [35]:
# 行或列智能函数应用
# 可以使用apply()方法沿DataFrame或Panel的轴应用任意函数，它与描述性统计方法一样，采用可选的轴参数。
# 默认情况下，操作按列执行，将每列列为数组。
df=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

# 通过传递axis参数，可以在行上执行操作。
# df.apply(np.mean,axis=1)
# print(df)
df.apply(np.mean)
# print(df)

       col1      col2      col3
0 -1.739949  1.830270 -0.347230
1 -2.021610 -0.203300 -2.710378
2  0.502278  0.821228 -0.223299
3  0.489046 -0.411263 -0.210310
4 -0.168609  1.716777  0.902562
       col1      col2      col3
0 -1.739949  1.830270 -0.347230
1 -2.021610 -0.203300 -2.710378
2  0.502278  0.821228 -0.223299
3  0.489046 -0.411263 -0.210310
4 -0.168609  1.716777  0.902562

In [28]:
df=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
df.apply(lambda x: x.max() -x.min())

       col1      col2      col3
0  0.692983  1.266406 -1.190533
1 -1.130362 -1.042387  1.077111
2 -1.057252 -0.430771 -0.646164
3 -0.806946 -0.503188  1.795152
4  0.932269 -0.950562  0.146680

col1    2.062632
col2    2.308793
col3    2.985685
dtype: float64

In [38]:
# 元素智能函数应用
# 并不是所有的函数都可以向量化(也不是返回另一个数组的NumPy数组，也不是任何值)，
# 在DataFrame上的方法applymap()和类似地在Series上的map()接受任何Python函数，并且返回单个值。
df=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
df['col1'].map(lambda x: x*100)

dp=df.applymap(lambda x : x*100)
print(dp)

       col1      col2      col3
0 -0.408652 -0.230126 -2.030047
1  1.188513  1.443385  0.125650
2  1.297633  0.048628 -0.170912
3  2.510776  0.311117  0.804013
4  0.550406  1.268099  0.468241
         col1        col2        col3
0  -40.865208  -23.012636 -203.004654
1  118.851348  144.338504   12.565037
2  129.763269    4.862821  -17.091194
3  251.077555   31.111693   80.401258
4   55.040566  126.809872   46.824094

In [40]:
# 重新索引会更改DataFrame的行标签和列标签。
# 重新索引意味着符合数据以匹配特定轴上的一组给定的标签。
# 可以通过索引来实现多个操作 -
# 重新排序现有数据以匹配一组新的标签。
# 在没有标签数据的标签位置插入缺失值(NA)标记。

N=20
df=pd.DataFrame({
    'A':pd.date_range(start='20180101',periods=N,freq='D'),
    'x':np.linspace(0,stop=N-1,num=N),
    'y':np.random.rand(N),
    'C':np.random.choice(['low','medium','heigh'],N).tolist(),
    'D':np.random.normal(100,10,size=(N)).tolist()
})
print(df)
df_reindexed=df.reindex(index=[0,2,5],columns=['A','B','C','D'])
print(df_reindexed)

            A       C           D     x         y
0  2018-01-01  medium  108.387341   0.0  0.939003
1  2018-01-02   heigh  109.075052   1.0  0.563962
2  2018-01-03     low   79.606080   2.0  0.909817
3  2018-01-04  medium   88.617510   3.0  0.545213
4  2018-01-05   heigh  100.051192   4.0  0.143629
5  2018-01-06  medium   97.832465   5.0  0.742746
6  2018-01-07     low   96.675470   6.0  0.576823
7  2018-01-08   heigh  107.743586   7.0  0.367384
8  2018-01-09     low  100.874075   8.0  0.963473
9  2018-01-10     low  106.941345   9.0  0.134140
10 2018-01-11  medium  102.378710  10.0  0.386765
11 2018-01-12     low  105.071501  11.0  0.182720
12 2018-01-13   heigh   96.571473  12.0  0.167989
13 2018-01-14   heigh   79.825020  13.0  0.461962
14 2018-01-15   heigh  109.833968  14.0  0.452231
15 2018-01-16  medium   95.180111  15.0  0.213183
16 2018-01-17     low   97.649798  16.0  0.801732
17 2018-01-18   heigh  107.532118  17.0  0.970711
18 2018-01-19     low   98.796283  18.0  0.013375
19 2018-01-20     low  110.169977  19.0  0.196644
           A   B       C           D
0 2018-01-01 NaN  medium  108.387341
2 2018-01-03 NaN     low   79.606080
5 2018-01-06 NaN  medium   97.832465

In [48]:
# 重建索引与其他对象对齐
# 有时可能希望采取一个对象和重新索引，其轴被标记为与另一个对象相同。
df1=pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2=pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
df1=df1.reindex_like(df2)
print(df1)
# 注意 - 在这里，df1数据帧(DataFrame)被更改并重新编号，如df2。 
# 列名称应该匹配，否则将为整个列标签添加NAN

print('*****'*15)
# 填充时重新加注
# reindex()采用可选参数方法，它是一个填充方法，其值如下：
# pad/ffill - 向前填充值
# bfill/backfill - 向后填充值
# nearest - 从最近的索引值填充
df1=pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2=pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
print(df2.reindex_like(df1))
print('补全数据')
print(df2.reindex_like(df1,method='ffill'))
# 注 - 最后四行被填充了。

       col1      col2      col3
0  0.097341  1.711128 -0.347246
1 -0.262972  0.721103 -0.945549
2 -0.009840 -0.488548 -0.696697
3  1.620523  1.635759  1.267819
4  1.089772  0.585452  1.195187
5 -0.856863 -0.065114  0.777254
6  0.508558 -1.078923 -0.657348
***************************************************************************
       col1      col2      col3
0 -1.765944 -0.690243  1.168287
1 -1.114742  0.484350  0.058878
2  0.391093 -0.494790  0.125297
3  0.038258  1.475333  0.595360
4 -1.767276 -1.123037 -0.531421
5  0.214125 -1.736327  0.565436
6  0.427817  1.323404 -0.674408
7       NaN       NaN       NaN
8       NaN       NaN       NaN
9       NaN       NaN       NaN
补全数据
       col1      col2      col3
0 -1.765944 -0.690243  1.168287
1 -1.114742  0.484350  0.058878
2  0.391093 -0.494790  0.125297
3  0.038258  1.475333  0.595360
4 -1.767276 -1.123037 -0.531421
5  0.214125 -1.736327  0.565436
6  0.427817  1.323404 -0.674408
7  0.427817  1.323404 -0.674408
8  0.427817  1.323404 -0.674408
9  0.427817  1.323404 -0.674408

In [49]:
# 重建索引时的填充限制
# 限制参数在重建索引时提供对填充的额外控制。限制指定连续匹配的最大计数。
df1=pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2=pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
print(df2.reindex_like(df1))
print('****'*15)
print('数据帧向前填充限制为1')
print(df2.reindex_like(df1,method='ffill',limit=1))
# 注意 - 只有第7行由前6行填充。 然后，其它行按原样保留。

       col1      col2      col3
0  1.745883 -0.288680  1.001290
1  0.192043 -0.794579 -0.942893
2  0.865370 -0.449743 -2.742722
3  0.505724 -0.245576  0.325858
4  0.164651 -1.660368 -1.472954
5 -0.390024  0.580016 -0.417919
6 -1.020407  0.211701  1.131153
7       NaN       NaN       NaN
8       NaN       NaN       NaN
9       NaN       NaN       NaN
************************************************************
数据帧向前填充限制为1
       col1      col2      col3
0  1.745883 -0.288680  1.001290
1  0.192043 -0.794579 -0.942893
2  0.865370 -0.449743 -2.742722
3  0.505724 -0.245576  0.325858
4  0.164651 -1.660368 -1.472954
5 -0.390024  0.580016 -0.417919
6 -1.020407  0.211701  1.131153
7 -1.020407  0.211701  1.131153
8       NaN       NaN       NaN
9       NaN       NaN       NaN

In [50]:
# 重命名
# rename()方法允许基于一些映射(字典或者系列)或任意函数来重新标记一个轴。
df1=pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df1)
print('重命名以后的行和列')
print(df1.rename(columns={'col1':'c1','col2':'c2'},
    index={0:'apple',1:'banana',2:'durian'}
                ))
# rename()方法提供了一个inplace命名参数，默认为False并复制底层数据。 
# 指定传递inplace = True则表示将数据重命名。

       col1      col2      col3
0 -2.755287 -2.115145  0.159374
1 -0.286716  1.055608  0.237885
2 -0.162800 -0.295921 -2.087107
3 -0.972743 -0.431690  0.047728
4 -1.124524  0.435752 -0.570334
5  0.059583 -0.136953  0.281095
重命名以后的行和列
              c1        c2      col3
apple  -2.755287 -2.115145  0.159374
banana -0.286716  1.055608  0.237885
durian -0.162800 -0.295921 -2.087107
3      -0.972743 -0.431690  0.047728
4      -1.124524  0.435752 -0.570334
5       0.059583 -0.136953  0.281095

In [51]:
# Pandas对象之间的基本迭代的行为取决于类型。
# 当迭代一个系列时，它被视为数组式，基本迭代产生这些值。
# 其他数据结构，如：DataFrame和Panel，遵循类似惯例迭代对象的键。
# 简而言之，基本迭代(对于i在对象中)产生 -
# Series - 值
# DataFrame - 列标签
# Pannel - 项目标签

# 迭代DataFrame
# 迭代DataFrame提供列名。现在来看看下面的例子来理解这个概念。
N=20
df=pd.DataFrame({
    'A':pd.date_range(start='20180101',periods=N,freq='D'),
    'x':np.linspace(0,stop=N-1,num=N),
    'y':np.random.rand(N),
    'C':np.random.choice(['Low','Medium','Heigh'],N).tolist(),
    'D':np.random.normal(100,10,size=(N)).tolist()
})

for col in df:
    print(col)

A
C
D
x
y

In [55]:
# 要遍历数据帧(DataFrame)中的行，可以使用以下函数 -
# iteritems() - 迭代(key，value)对
# iterrows() - 将行迭代为(索引，系列)对
# itertuples() - 以namedtuples的形式迭代行
df=pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
print(df)
for key,value in df.iteritems():
    print(key,value)

       col1      col2      col3
0 -0.591557 -0.529616 -0.323126
1 -1.764371 -0.180232  0.991270
2 -0.174809  0.688083  1.074894
3  0.548210  0.288900  0.237567
col1 0   -0.591557
1   -1.764371
2   -0.174809
3    0.548210
Name: col1, dtype: float64
col2 0   -0.529616
1   -0.180232
2    0.688083
3    0.288900
Name: col2, dtype: float64
col3 0   -0.323126
1    0.991270
2    1.074894
3    0.237567
Name: col3, dtype: float64

In [56]:
print('****'*15)
# iterrows()示例
# iterrows()返回迭代器，产生每个索引值以及包含每行数据的序列。
for row_index,row in df.iterrows():
    print(row_index,row)

************************************************************
0 col1   -0.591557
col2   -0.529616
col3   -0.323126
Name: 0, dtype: float64
1 col1   -1.764371
col2   -0.180232
col3    0.991270
Name: 1, dtype: float64
2 col1   -0.174809
col2    0.688083
col3    1.074894
Name: 2, dtype: float64
3 col1    0.548210
col2    0.288900
col3    0.237567
Name: 3, dtype: float64

In [57]:
# itertuples()示例
# itertuples()方法将为DataFrame中的每一行返回一个产生一个命名元组的迭代器。
# 元组的第一个元素将是行的相应索引值，而剩余的值是行值。
df=pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
for row in df.itertuples():
    print(row)

Pandas(Index=0, col1=-0.39504924161791183, col2=-2.2382836688424246, col3=1.4426523217502223)
Pandas(Index=1, col1=-0.6890234949693067, col2=-0.39313063969504725, col3=1.0069722504316967)
Pandas(Index=2, col1=0.28640230022880003, col2=0.10015119050040078, col3=0.1305728449320259)
Pandas(Index=3, col1=0.30051133907509325, col2=0.5858180908214139, col3=-2.49276877027981)

In [59]:
# Pandas有两种排序方式，它们分别是 -
# 按标签
# 按实际值
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,8,8,0,7],columns=['col2','col1'])
mns=['col2','col1']
print(unsorted_df)

       col2      col1
1 -0.561941  0.134821
4 -0.015912  0.982347
6 -0.551074 -0.232039
2  0.501239  0.452409
3  1.244757 -1.704429
5  0.689269 -0.655131
8  0.067806  1.255158
8  0.384026 -0.251397
0 -0.268109  1.018756
7  0.633806  3.895012

In [60]:
# 按标签排序
# 使用sort_index()方法，通过传递axis参数和排序顺序，可以对DataFrame进行排序。 
# 默认情况下，按照升序对行标签进行排序。
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,8,8,0,7],columns=['col2','col1'])
sorted_df=unsorted_df.sort_index()
print(sorted_df)

       col2      col1
0 -1.223311 -1.564494
1  0.414072 -0.761651
2  0.274626  0.042983
3 -0.816167 -0.965537
4 -1.514548  0.611020
5  0.843185 -0.845181
6  1.167532 -1.010269
7  0.486040 -1.172796
8  1.452975  0.570129
8 -0.268818  0.344669

In [61]:
# 排序顺序
# 通过将布尔值传递给升序参数，可以控制排序顺序。
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,8,8,0,7],columns=['col2','col1'])
sorted_df=unsorted_df.sort_index(ascending=False)
print(sorted_df)

       col2      col1
8  1.312224 -0.223037
8  1.194150  1.029150
7 -0.087979  0.615953
6  2.170505  0.833031
5  0.620579  1.057862
4 -0.466403  1.513894
3  1.837838  1.163646
2  2.104083 -0.509531
1 -1.287812 -1.650778
0  1.276593  0.058968

In [65]:
# 按列排列
# 通过传递axis参数值为0或1，可以对列标签进行排序。
# 默认情况下，axis = 0，逐行排列。
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,8,8,0,7],columns=['col2','col1'])
print(unsorted_df)
sorted_df=unsorted_df.sort_index(axis=1)
print(sorted_df)

       col2      col1
1  0.071020  0.422506
4 -0.293831 -2.032947
6 -0.402666 -1.430422
2  0.212297  0.270772
3  0.603610  0.990193
5  0.034328 -0.677082
8  0.723225 -1.268431
8 -1.415268  1.568484
0 -0.013483 -0.370087
7 -1.661323  0.916876
       col1      col2
1  0.422506  0.071020
4 -2.032947 -0.293831
6 -1.430422 -0.402666
2  0.270772  0.212297
3  0.990193  0.603610
5 -0.677082  0.034328
8 -1.268431  0.723225
8  1.568484 -1.415268
0 -0.370087 -0.013483
7  0.916876 -1.661323

In [67]:
# 按值排序
# 像索引排序一样，sort_values()是按值排序的方法。它接受一个by参数，
# 它将使用要与其排序值的DataFrame的列名称。

unsorted_df=pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
print(unsorted_df)
sorted_df=unsorted_df.sort_values(by='col1')
print(sorted_df)
# 注意： 观察上面的输出结果，col1值被排序，相应的col2值和行索引将随col1一起改变。
# 因此，它们看起来没有排序。

   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4
   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [69]:
# 通过by参数指定需要列值，
unsorted_df=pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
print(unsorted_df)
sorted_df=unsorted_df.sort_values(by=['col1','col2'])
print(sorted_df)

   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4
   col1  col2
2     1     2
1     1     3
3     1     4
0     2     1

In [71]:
# 排序算法
# sort_values()提供了从mergeesort，heapsort和quicksort中选择算法的一个配置。
# Mergesort是唯一稳定的算法。
unsorted_df=pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
print(unsorted_df)
sorted_df=unsorted_df.sort_values(by='col1',kind='mergesort')
print(sorted_df)

   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4
   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [81]:
# 在本章中，我们将使用基本系列/索引来讨论字符串操作。
# 在随后的章节中，将学习如何将这些字符串函数应用于数据帧(DataFrame)。
# Pandas提供了一组字符串函数，可以方便地对字符串数据进行操作。
# 最重要的是，这些函数忽略(或排除)丢失/NaN值。


s=pd.Series(['tom','A lice','Ari a','1234','steve',np.nan])
print(s)

0       tom
1    A lice
2     Ari a
3      1234
4     steve
5       NaN
dtype: object
************************************************************
0    3.0
1    6.0
2    5.0
3    4.0
4    5.0
5    NaN
dtype: float64
************************************************************
0       tom
1    A lice
2     Ari a
3      1234
4     steve
5       NaN
dtype: object
************************************************************
0        [tom]
1    [A, lice]
2     [Ari, a]
3       [1234]
4      [steve]
5          NaN
dtype: object
************************************************************
tom<=>A lice<=>Ari a<=>1234<=>steve

In [80]:

print('****'*15)
# lower()函数示例
print(s.str.lower())

************************************************************
0       tom
1    a lice
2     ari a
3      1234
4     steve
5       NaN
dtype: object

In [82]:
print('****'*15)
#  upper()函数示例
print(s.str.upper())

************************************************************
0       TOM
1    A LICE
2     ARI A
3      1234
4     STEVE
5       NaN
dtype: object

In [83]:
print('****'*15)
#  len()函数示例
print(s.str.len())

************************************************************
0    3.0
1    6.0
2    5.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [84]:
print('****'*15)
# strip()函数示例
print(s.str.strip())

************************************************************
0       tom
1    A lice
2     Ari a
3      1234
4     steve
5       NaN
dtype: object

In [85]:
print('****'*15)
# split(pattern)函数示例
print(s.str.split(' '))

************************************************************
0        [tom]
1    [A, lice]
2     [Ari, a]
3       [1234]
4      [steve]
5          NaN
dtype: object

In [86]:
print('****'*15)
# cat(sep=pattern)函数示例
print(s.str.cat(sep='<=>'))

************************************************************
tom<=>A lice<=>Ari a<=>1234<=>steve

In [87]:
#  get_dummies()函数示例
print(s.str.get_dummies())

   1234  A lice  Ari a  steve  tom
0     0       0      0      0    1
1     0       1      0      0    0
2     0       0      1      0    0
3     1       0      0      0    0
4     0       0      0      1    0
5     0       0      0      0    0

In [88]:
# contains()函数示例
print(s.str.contains(' '))

0    False
1     True
2     True
3    False
4    False
5      NaN
dtype: object

In [89]:
# replace(a,b)函数示例
print(s.str.replace('s','@'))

0       tom
1    A lice
2     Ari a
3      1234
4     @teve
5       NaN
dtype: object

In [90]:
# repeat(value)函数示例
print(s.str.repeat(2))

0          tomtom
1    A liceA lice
2      Ari aAri a
3        12341234
4      stevesteve
5             NaN
dtype: object

In [91]:
#  count(pattern)函数示例
print(s.str.count('m'))

0    1.0
1    0.0
2    0.0
3    0.0
4    0.0
5    NaN
dtype: float64

In [92]:
#  startswith(pattern)函数示例
print(s.str.startswith('s'))

0    False
1    False
2    False
3    False
4     True
5      NaN
dtype: object

In [93]:
# endswith(pattern)函数示例
print(s.str.endswith('m'))

0     True
1    False
2    False
3    False
4    False
5      NaN
dtype: object

In [94]:
#  find(pattern)函数示例
print(s.str.find('om'))

0    1.0
1   -1.0
2   -1.0
3   -1.0
4   -1.0
5    NaN
dtype: float64

In [96]:
#  findall(pattern)函数示例
print(s.str.findall('a'))

0     []
1     []
2    [a]
3     []
4     []
5    NaN
dtype: object

In [97]:
# swapcase()函数示例
print(s.str.swapcase())

0       TOM
1    a LICE
2     aRI A
3      1234
4     STEVE
5       NaN
dtype: object

In [98]:
#  islower()函数示例
print(s.str.islower())

0     True
1    False
2    False
3    False
4     True
5      NaN
dtype: object

In [99]:
#  isupper()函数示例
print(s.str.isupper())

0    False
1    False
2    False
3    False
4    False
5      NaN
dtype: object

In [101]:
#  isnumeric()函数示例
print(s.str.isnumeric())

0    False
1    False
2    False
3     True
4    False
5      NaN
dtype: object

In [104]:
# Pandas提供API来自定义其行为的某些方面，大多使用来显示。
# API由五个相关函数组成。它们分别是 -
# get_option()
# set_option()
# reset_option()
# describe_option()
# option_context()
# 现在来了解函数是如何工作的。


# get_option(param)
# get_option(param)需要一个参数，并返回下面输出中给出的值 -
# get_option需要一个参数，并返回下面输出中给出的值 -



# display.max_rows
# 显示默认值。解释器读取此值并显示此值作为显示上限的行。
print('display.max_rows=',pd.get_option('display.max_rows'))

# display.max_columns
# 显示默认值，解释器读取此值并显示此值作为显示上限的行。
print('display.max_columns=',pd.get_option('display.max_columns'))

display.max_rows= 60
display.max_columns= 20

In [3]:
import numpy as np
import pandas as pd
# set_option(param,value)
# set_option需要两个参数，并将该值设置为指定的参数值，如下所示：
# display.max_rows
# 使用set_option()，可以更改要显示的默认行数。

print('在设置最大行之前,rows=',pd.get_option('display.max_rows'))
print('设置最大行')
pd.set_option('display.max_rows',80)
print('设置最大行之后，rows=',pd.get_option('display.max_rows'))

在设置最大行之前,rows= 60
设置最大行
设置最大行之后，rows= 80

In [6]:
# display.max_columns
# 使用set_option()，可以更改要显示的默认行数。
print('在设置最大列之前',pd.get_option('display.max_columns'))
pd.set_option('display.max_columns',32)
print('设置最大列之后',pd.get_option('display.max_columns'))

在设置最大列之前 32
设置最大列之后 32

In [7]:
# reset_option(param)
# reset_option接受一个参数，并将该值设置为默认值。
# display.max_rows
# 使用reset_option()，可以将该值更改回显示的默认行数。
pd.set_option('display.max_rows',32)
print('设置最大行之后,rows=',pd.get_option('display.max_rows'))
pd.reset_option('display.max_rows')
print('重新设置最大行',pd.get_option('display.max_rows'))

设置最大行之后,rows= 32
重新设置最大行 60

In [8]:
# describe_option(param)
# describe_option打印参数的描述。
# display.max_rows
# 使用reset_option()，可以将该值更改回显示的默认行数。
pd.describe_option('display.max_rows')

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]